#title1{
    position: absolute;
    left: 1em;
    width: 20em;
}

#title2{
    position: absolute;
    left: 38em;
    width: 20em;
    bottom: 22.2em;
}

#mensajes1{
    width: 20em;
    height: 20em;
}

#mensajes2{
    position: absolute;
    width: 20em;
    height: 20em;
    left: 38em;
    bottom: 0.5em;
}